<div style="width: 80%;  float:left; height: 700px; background-color:whitesmoke">
  <div style="padding: 20px;">
    <div class="form_container">
      <form [formGroup]="formdata" (ngSubmit) = "onClickSubmit(formdata.value)" >
         <header>Đăng nhập nào các bạn... Ahihi !</header>
         <label>Username <span>*</span></label>
         <input type="text" name="uname" formControlName="uname"/>

         <div class="help">Ít nhất 6 kí tự</div>
         <label>Password <span>*</span></label>
         <input type="password" class="fortextbox" name="passwd" formControlName="passwd"/>

         <div class="help">Phân biệt hoa thường</div>
         <button [disabled]="!formdata.valid" value="Login">Đăng nhập</button>
      </form>
    </div>
  </div>
</div>
