<div style="width: 80%;  float:left; height: 600px; background-color:whitesmoke">
  <div style="padding: 20px;">
    <p>Main Page</p>
    <br/>

    <button (click)="addItem()">Add</button>
    <button (click)="addItem()">Edit</button>
    <button (click)="addItem()">Delete</button>
    <ag-grid-angular
       style="width: 800px; height: 300px;"
      class="ag-theme-balham"
      [gridOptions]="gridOptions"
      [columnDefs]="columnDefs"
      [rowData]="rowData"
      (gridReady)="onGridReady($event)"
    ></ag-grid-angular> 

  </div>
</div>
